<div class="container">
	<div class="row">
		<div id="enemy_input">
			<%= form_tag enemies_path, :method => :post, :class => 'form-horizontal' do %>
				<div class="col-xs-10">
					<div class="form-group">
						<%= text_field_tag :dep_no, nil, class: "form-control", autofocus: true, placeholder: "輸入系所名稱" %>
					</div>
				</div>
				<div class="col-xs-2">
					<button type="submit" class="btn btn-default">Submit</button>
				</div>
			<% end %>
		</div>
	</div>
	
	<% if !@results.nil? %>
	<div class="row">
		<div id="enemy_result">
			<table class="table">
			<thead>
				<tr>
					<th>dep</th>
					<th>opponent</th>
					<th>win</th>
					<th>total</th>
					<th>rate</th>
				</tr>
			</thead>
			<tbody>
				<% @results.each do |r| %>
					<tr>
						<td><%= r.dep_name %></td>
						<td><%= r.opponent_name %></td>
						<td><%= r.win %></td>
						<td><%= r.total %></td>
						<td><%= r.win_rate %></td>
					</tr>
				<% end %>
			</tbody>
			</table>
		</div>
	</div>
	<% end %>
</div>