<% title @college.name %>
<div class="container" id="dep_showcollege">
	<div class="row">
		<div class="col-md-10 col-xs-9">
			<h1><%= @college.name %></h1>
		</div>
		<div class="col-md-2 col-xs-3 title-data">
			<p class="number"><%= "%.2f" % @rscore_mean %></p>
			<p class="description">平均 Rscore</p>
		</div>
	</div>
	<div class="row">
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- [college]under college name -->
		<ins class="adsbygoogle"
		     style="display:inline-block;width:728px;height:90px"
		     data-ad-client="ca-pub-5123564059378315"
		     data-ad-slot="6439767382"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
	</div>
	<div class="row">
		<% @departments.each do |d| %>
		<div class="col-md-12">
			<%= link_to department_path(d.year, d.dep_no) do %>
			<div class="row one-dep">
				<div class="col-xs-9">
					<span class="name"><%= d.short_name %></span>
				</div>
				<div class="col-xs-1 data">
					<p class="number"><%= d.ts_rscore.nil? ? "N/A" : "%.2f" % d.ts_rscore %></p>
					<p class="description">Rscore</p>
				</div>
				<div class="col-xs-1 data">
					<p class="number"><%= d.ts_mu.nil? ? "N/A" : "%.2f" % d.ts_mu %></p>
					<p class="description">Mu</p>
				</div>
				<div class="col-xs-1 data">
					<p class="number"><%= d.ts_sigma.nil? ? "N/A" : "%.2f" % d.ts_sigma %></p>
					<p class="description">Sigma</p>
				</div>
			</div>
			<% end %>
		</div>
		<% end %>
	</div>
</div>