<% title @fields[@this_field] %>
<div class="container" id="rank_show">
	<div class="row">
		<div class="col-md-10 col-xs-9">
			<div class="btn-group">
				<button class="btn-title dropdown-toggle" type="button" data-toggle="dropdown">
			    	<h1><%= @fields[@this_field] %> <i class="fa fa-caret-down" aria-hidden="true"></i></h1>
				</button>
				<ul class="dropdown-menu dropdown-menu-inverse" role="menu">
			    <% @fields.each_value do |f| %>
					<li><%= link_to f, rank_path(@fields.key(f)) %></li>
			    <% end %>
				</ul>
			</div>
		</div>
		<div class="col-md-2 col-xs-3 title-data">
			<p class="number"><%= "%.2f" % @rscore_mean %></p>
			<p class="description">平均 Rscore</p>
		</div>
	</div>
	<div class="row">
		<table class="table" id="table">
			<thead>
			<tr>
				<th class="sort" data-sort="rank">rank</th>
				<th class="sort" data-sort="name">name</th>
				<th class="sort" data-sort="rscore">Rscore</th>
				<th class="sort" data-sort="mu">mu</th>
				<th class="sort" data-sort="sigma">sigma</th>
				<!-- <th>action</th> -->
			</tr>
			</thead>
			<tbody class="list">
			<% @departments.each_with_index do |d, i| %>
				<tr>
					<td class="rank"><%= i+1 %></td>
					<td class="name"><%= link_to d.name, department_path(d) %></td>
					<td class="rscore"><%= "%.4f" % d.ts_rscore %></td>
					<td class="mu"><%= "%.4f" % d.ts_mu %></td>
					<td class="sigma"><%= "%.4f" % d.ts_sigma %></td>
					<!-- <td>add to graph</td> -->
				</tr>
			<% end %>
			</tbody>
		</table>
	</div>
</div>