<nav  id="navbar" class="navbar navbar-inverse navbar-fixed-top">
<div class="container">
  <div class="row">
    <div class="navbar-header" >
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag "logo.png" %>
        <% end %>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ThisPlaceCollapse">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
    </div>
    <div class="navbar-collapse collapse" id="ThisPlaceCollapse">
        <ul class="nav navbar-nav" >
          <li><%= link_to '系所資料', departments_path %></li>
    			<li><%= link_to '網路圖', force_path %></li>
          <li><%= link_to 'TrueSkill排名', ranks_path %></li>
          <li><%= link_to '關於本站', about_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#" id="navbar_year" class="dropdown-toggle" aria-expanded="true" data-toggle="dropdown">
              選擇年份 <span class="caret"></span>
            </a>
            <ul class="dropdown-menu  dropdown-menu-inverse" role="menu" aria-labelledby="navbar_year">
              <li><%= link_to '105', change_year_path(105) %></li>
            </ul>
          </li>
        </ul>
    </div>
  </div>
</div>
</nav>

