<!DOCTYPE html>
<html>
<head>
  <title>College</title>

  <%= favicon_link_tag 'logo.ico' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render 'layouts/navbar' %>

	<%= yield %>

	<%= render 'layouts/footer' %>

	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
